.form {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;
    padding: 12px 16px;
    align-items: center;
    gap: 16px;
}

.form__devider {
    height: 24px;
    width: 1px;
    background: #909090;
}

.form__label {
    padding-left: 36px;
    display: grid;
    gap: 8px;
    background-image: url('./../img/icons/calendar.svg');
    background-position: 0 0;
    background-size: auto;
    background-repeat: no-repeat;
    span {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.form__input {
    font-family: Circular Std;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;

    &::placeholder {
        color: var(--text-muted);
    }
}

.form__btn {
}